PORT=3000
DATABASE_HOST=localhost
DATABASE_PORT=3306
DATABASE_USERNAME=root
DATABASE_PASSWORD=
DATABASE_NAME=quiniela_mundial
JWT_SECRET=
SPORTSDB_SYNC_ENABLED=true
SPORTSDB_API_KEY=123
SPORTSDB_SYNC_INTERVAL_MS=1200000
SPORTSDB_WORLD_CUP_LEAGUE_ID=4429
SPORTSDB_WORLD_CUP_SEASON=2026
SPORTSDB_EVENTS_SEASON_URL=
SPORTSDB_EVENTS_DAY_URL=
